{% extends "base.html" %}

{% block title %}tickets Page{% endblock %}

{% block content %}
    <div style="padding: 20px; text-align: center;">
        <h2>YOUR TICKET</h2>
        <p><strong>Movie:</strong> {{ ticket_info.movie_name }}</p>
        <p><strong>Seat_row:</strong> {{ ticket_info.seat_row }}</p>
        <p><strong>Seat_column:</strong> {{ ticket_info.seat_column }}</p>
        <p><strong>Showtime:</strong> {{ ticket_info.showtime }}</p>
        <p><strong>End Time:</strong> {{ ticket_info.end_time }}</p>
    </div>
{% endblock %}